
body {
    margin: 0;
    padding: 0; 
}
nav {
    display: flex;
    overflow: hidden;
    padding-left: 11%;
}
/* NAV */
nav>a {
    text-decoration: none;
    font-size: 30px;
    padding: 30px;
    color: black;
}
nav>a:hover {
    background-color: aquamarine;
    opacity: 0.7;
}
/* HEADER */
.bg-header {
    background-color: #045de9;
    background-image: linear-gradient(315deg, #00c3ff 0%, #ffff1c 80%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding-right: 10%;
    padding-left: 10%;
}
.header-content {
    width: 50%;
    padding: 3%;
}
.header-content h1 {
    font-size: 3rem;
    font-weight: 900;
}
.header-content p {
    font-size: 20px;
    font-weight: 200;
    width: 80%;
    text-align: justify;
}
.landscape img {
    height: 500px;
}
.book-svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.book-svg img {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 110px;
}
/*  ABOUT-ME */
.bg-about {
    position: relative;
    padding-right: 10%;
    padding-left: 10%;
}
.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    border: aquamarine solid 10px;
    border-radius: 20px;
    padding: 10%;
}
.about-image img {
    height: 400px;
}
.about-content {
    width: 50%;
    padding: 3%;
}
.about-content h2 {
    font-size: 3rem;
    font-weight: 900;
}
.about-content p {
    font-size: 20px;
    font-weight: 200;
    width: 100%;
    text-align: justify;
}
/*  SKILLS */
.bg-skills {
    position: relative;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #00c3ff 0%, #ffff1c 80%);
    padding: 10%;
}
.skills-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.skills-image img {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}
.title-skills h2 {
    text-align: center;
    padding-bottom: 3%;
    font-size: 3rem;
    font-weight: 900;
}
.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
.container img {
    height: 150px;
    width: 150px;
    padding: 20px;
    border-radius: 20%;
}
.container img:hover {
    background-color: white;
}

/* WORK */
.bg-work {
    padding: 10%;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #00c3ff 0%, #ffff1c 80%);
    position: relative;
}
.title-work {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}
.work-container {
    display: grid;
    grid-template-columns: auto auto auto; 
    justify-items: center;
    align-items: center;
    row-gap: 3rem;
    padding: 5% 5% 5% 5%;
}
.work-container .box {
    width: 400px;
    height: 280px;
    transition: ease-in-out 8s;
    background-position:  top;
    border-radius: 20px;
}
.work-container .box:hover {
    background-position: bottom;
    opacity: 0.7;
}
.work-container .box.box1 {
    background-image: url('./img/website.png');
    background-size: cover;
}
.work-container .box.box2 {
    background-image: url('./img/website.png');
    background-size: cover;
}
.work-container .box.box3 {
    background-image: url('./img/website.png');
    background-size: cover;
}
.work-container .box.box4 {
    background-image: url('./img/website.png');
    background-size: cover;
}
.work-container .box.box5 {
    background-image: url('./img/website.png');
    background-size: cover;
}
.work-container .box.box6 {
    background-image: url('./img/website.png');
    background-size: cover;
}
.work-container .box.box7 {
    background-image: url('./img/website.png');
    background-size: cover;
}
.work-container .box.box8 {
    background-image: url('./img/website.png');
    background-size: cover;
}
.work-container .box.box9 {
    background-image: url('./img/website.png');
    background-size: cover;
}
/* APPROCH */
.bg-approch {
    position: relative;
    padding: 0 10% 0% 10%;
}
.approch-container {
    display: grid;
    grid-template-columns: auto auto auto; 
    justify-items: center;
    align-items: center;
    border: aquamarine solid 10px;
    border-radius: 20px;
    padding: 10%;
    
}
.approch-container .approch {
    width: 300px;
    height: 300px;
}
.approch img {
    width: 300px;
    height: 200px;
    background-color: azure;
    padding: 20px;
    border-radius: 20px;
}

.approch h3 {
    text-align: center;
    margin: 0;  
}
/* CONTACT */
.bg-contact {
    padding-left: 10%;
    padding-right: 10%;
}
.bg-contact h2 {
    font-size: 3rem;
    font-weight: 900;
    text-align: center ;
}
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid aquamarine;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  input[type=submit]:hover {
    background-color: aquamarine;
    opacity: 0.7;
  }
  
  .container-contact {
    border-radius: 20px;
    background-color: honeydew;
    padding: 10%;
    border: 10px solid aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* FOOTER */
  /* FOOTER */
/* START OF SOCIAL MEDIA */
.bg-footer {
    background-color: #045de9;
    background-image: linear-gradient(315deg, #00c3ff 0%, #ffff1c 80%);
    position: relative;
    padding-top: 10%;  
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.map {
    padding-top: 5%;
    padding-bottom: 5%; 
}
.links {
display: inline-grid;
padding-right: 190px;
padding-top: 5%;
padding-bottom: 5%;
}
.links a {
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    color: blue;
}

.icons {
    padding-right: 20px;
    padding-top: 5%;
    padding-bottom: 5%; 
}
.icons h4 {
    font-size: 3rem; 
    font-weight: 900;
    color: black;
}
/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: blue;
    color: white;
    border-radius: 20%;
}

/* Twitter */
.fa-twitter {
    background: red;
    color: white;
    border-radius: 20%;
}

/* Linkedin */
.fa-instagram {
    background: yellow; 
    color: white;
    border-radius: 20%;
}
/* END OF SOCIAL MEDIA */


/*------------------------------------------------ MEDIA QUERY ---------------------------------------------------------- */

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1236px) {
    body {
        width: 100%;
    }
    
    .bg-header {
        width: 100%;
        padding: 0;
    }
    .header-content {
        width: 30%;
        height: 300px;
        padding: 0;
    }
    .header-content h1 {
        margin: 0;
    }
    .landscape img {
        height: 270px;
    }
    .book-svg img {
        height: 50px;
    }
    .about-me {
        padding: 0%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .about-image img {
        width: 400px;
        height: 400px;
    }
  }

  @media screen and (max-width: 886px) {
    .bg-header {
        width: 100%;
    }

  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    
  }