
body {
    margin: 0;
    padding: 0; 
}
nav {
    display: flex;
    overflow: hidden;
    padding-left: 11%;
}
/* NAV */
nav>a {
    text-decoration: none;
    font-size: 30px;
    padding: 30px;
    color: black;
}
/* HEADER */
.bg-header {
    background-color: #045de9;
    background-image: linear-gradient(315deg, #00c3ff 0%, #ffff1c 80%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding-right: 10%;
    padding-left: 10%;
}
.header-content {
    width: 50%;
    padding: 3%;
}
.header-content h1 {
    font-size: 3rem;
    font-weight: 900;
}
.header-content p {
    font-size: 20px;
    font-weight: 200;
    width: 80%;
    text-align: justify;
}
.landscape img {
    height: 500px;
}
.book-svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.book-svg img {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 110px;
}
/*  ABOUT-ME */
.bg-about {
    position: relative;
    padding-right: 10%;
    padding-left: 10%;
}
.about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    border: honeydew solid 10px;
    border-radius: 20px;
    padding: 4%;
}
.about-image img {
    height: 400px;
}
.about-content {
    width: 50%;
    padding: 3%;
}
.about-content h2 {
    font-size: 3rem;
    font-weight: 900;
}
.about-content p {
    font-size: 20px;
    font-weight: 200;
    width: 100%;
    text-align: justify;
}
/*  SKILLS */
.bg-skills {
    position: relative;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #00c3ff 0%, #ffff1c 80%);
    padding: 10%;
}
.skills-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.skills-image img {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}
.title-skills h2 {
    text-align: center;
    padding-bottom: 3%;
    font-size: 3rem;
    font-weight: 900;
}
.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
.container img {
    height: 150px;
    width: 150px;
    padding: 20px;
    border-radius: 20%;
}
.container img:hover {
    background-color: white;
}

/* WORK */
.bg-work {
    padding: 10%;
    background-color: #045de9;
    background-image: linear-gradient(315deg, #00c3ff 0%, #ffff1c 80%);
    position: relative;
}
.title-work {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}
.work-container {
    display: grid;
    grid-template-columns: auto auto auto; 
    justify-items: center;
    align-items: center;
    row-gap: 3rem;
    padding: 5% 5% 5% 5%;
}
.work-container .box {
    width: 400px;
    height: 280px;
    transition: ease-in-out 8s;
    background-position:  top;
}
.work-container .box:hover {
    background-position: bottom;
}
.work-container .box.box1 {
    background-image: url('./img/website.png');
    background-size: cover;
}
.work-container .box.box2 {
    background-image: url('./img/website.png');
    background-size: cover;
}
.work-container .box.box3 {
    background-image: url('./img/website.png');
    background-size: cover;
}
.work-container .box.box4 {
    background-image: url('./img/website.png');
    background-size: cover;
}
.work-container .box.box5 {
    background-image: url('./img/website.png');
    background-size: cover;
}
.work-container .box.box6 {
    background-image: url('./img/website.png');
    background-size: cover;
}
.work-container .box.box7 {
    background-image: url('./img/website.png');
    background-size: cover;
}
.work-container .box.box8 {
    background-image: url('./img/website.png');
    background-size: cover;
}
.work-container .box.box9 {
    background-image: url('./img/website.png');
    background-size: cover;
}
/* APPROCH */
.bg-approch {
    position: relative;
    padding: 0 10% 0% 10%;
}
.approch-container {
    display: grid;
    grid-template-columns: auto auto auto; 
    justify-items: center;
    align-items: center;
    border: honeydew solid 10px;
    
}
.approch-container .approch {
    width: 300px;
    height: 300px;
}
.approch img {
    width: 300px;
    height: 200px;
}

.approch h3 {
    text-align: center;
    margin: 0;  
}

